.card {
  border-radius: 0.5ex;
  box-shadow: 0 1ex 2.5ex $grey-shadow;
  padding: 2.5em;
  transition: all 0.1s linear;

  .card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: $font-weight-bold;
    letter-spacing: 0.06ex;
    text-transform: uppercase;
  }
}

.card:hover {
  box-shadow: 0 1.1ex 2.6ex $grey-shadow;
  transform: translateY(-1px);
}
