body {
  font-family: 'Roboto', sans-serif;
  color: $grey-text;
  font-weight: $font-weight-medium;
  font-size: 16px;
  padding-top: 1.5em;

  // Base case (Mobile)
  margin-left: 1em;
  margin-right: 1em;

  // Tablet & expensive phones
  @media (min-width: 640px) {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  // Desktop & very expensive phones
  @media (min-width: 1080px) {
    margin-left: 11em;
    margin-right: 11em;
  }

  :focus {
    outline: none;
  }

   ::-moz-focus-inner {
    border: 0;
  }
}

// Only 4 headings style since h5 and h6 is going to be similar in size as
// normal text, we might as well drop it entirely.
h1, h2, h3, h4 {
  font-weight: $font-weight-light;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
  line-height: 80%;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $grey-text;
}

.link {
  color: $cyan;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, $dark-cyan, $dark-cyan 50%, $cyan 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.link:hover {
  transition: all 0.2s ease-out;
  background-position: 0%;
}
