// Clean slate
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $grey-text;
  font-weight: $font-weight-medium;
  font-size: 16px;

  :focus {
    outline: none;
  }

   ::-moz-focus-inner {
    border: 0;
  }
}

// Only 4 headings style since h5 and h6 is going to be similar in size as
// normal text, we might as well drop it entirely.
h1, h2, h3, h4 {
  margin: 0;
  font-weight: $font-weight-light;
  padding-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $grey-text;
}

.link {
  color: $link-blue;
  transition: color 0.1s ease;
}

.link:hover {
  color: $link-blue-hover;
}

section {
  margin-top: 1em;
  margin-bottom: 2em;
}
